{% extends 'chess_engine/base.html' %}
{% load static%}

{% block title%}
<link rel="stylesheet" href="{% static 'chess_engine/css/login.css'%}">
<title>{{title}}</title>
{% endblock %}

{% block content %}
<div id="login">
    <fieldset class="clearfix">
        <p class="info">Для того чтобы начать играть, пожалуйста, войдите в систему.</p>
        <br>
        <p class="title">Вход</p>
        <form method="post">
                {% csrf_token %}
                {% for f in form %}
                <p><label class="form-label">{{f.label}}: </label>{{ f }}</p>
                {% endfor %}
                <div class="form-error">{{ form.non_field_errors }}</div>
                <p><input type="submit" value="ВОЙТИ"></p>
        </form>

        <p class="register">Нет аккаунта?<a href="{% url 'register'%}">Регистрация</a>
            <span class="fontawesome-arrow-right"></span></p>
    </fieldset>
</div>

{% endblock %}